{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
	
	<p>Hey {{ user.first_name }}, you're logged in and ready to book a table!</p>

{% endif %}

<section class="container-fluid">
    <div class="row text-center mt-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/gagh.jpeg' %}" class="card-img-top" alt="Image of Gagh">
            <div class="card-body">
                <a href="{% url 'menu' %}">
                    <h2>Menus</h2>
                </a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/ten-forward-table.jpg' %}" class="card-img-top" alt="Ten-Forward tables">
            <div class="card-body">
                <a href="{% url 'reservations' %}">
                    <h2>Book a Table</h2>
                </a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/star-trek-communicator.jpg' %}" class="card-img-top" alt="Star Trek Communicator">
            <div class="card-body">
                <a href="{% url 'contact' %}">
                    <h2>Contact Us</h2>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}