{% extends "base.html" %}

{% block content %}

{% if not user.is_authenticated %}
<h2>Login required</h2>
<p>Please login to cancel your bookings</p>
<button class="btn btn-success" type="submit"><a href="{% url 'login' %}">Go to Login
        Page</a></button>
{% else %}
{% if user.is_authenticated and user == booking.user %}
<h3 class="card-title">{{ booking.name }}</h3>
<p class="card-subtitle mb-2 text-muted">{{ booking.requested_date }} at
    {{ booking.requested_time }}</p><br>
<p class="card-subtitle mb-2">Booking status: {{ booking.status }}.</p>
<p class="card-text">Number of Guests: {{ booking.guest_count }}.</p>
<p class="card-text">Table: {{booking.table}}</p>
<form method="POST">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">YES</button>
    <a href="{% url 'booking_list' %}" class="btn btn-secondary">Return</a>
</form>
{% endif %}
{% endif %}

{% endblock %}