{% extends 'base.html' %}

{% load static %}

{% block content %}

<div>
    <hr>
    <h2>Ales</h2>
    <hr>
    {% for drink in drink_list %}
    {% if drink.type_of_drink == 0 and drink.available == 1 %}
    <h3>{{ drink.drink_name }}</h3>
    {{ drink.description | safe }} £{{ drink.price }}

    {% endif %}
    {% endfor %}

</div>
<div>
    <hr>
    <h2>Wines</h2>
    <hr>
    {% for drink in drink_list %}
    {% if drink.type_of_drink == 1 and drink.available == 1 %}
    <h3>{{ drink.drink_name }}</h3>
    {{ drink.description | safe }} £{{ drink.price }}

    {% endif %}
    {% endfor %}

</div>
<div>
    <hr>
    <h2>Coffees</h2>
    <hr>
    {% for drink in drink_list %}
    {% if drink.type_of_drink == 2 and drink.available == 1 %}
    <h3>{{ drink.drink_name }}</h3>
    {{ drink.description | safe }} £{{ drink.price }}

    {% endif %}
    {% endfor %}

</div>
<div>
    <hr>
    <h2>Teas</h2>
    <hr>
    {% for drink in drink_list %}
    {% if drink.type_of_drink == 3 and drink.available == 1 %}
    <h3>{{ drink.drink_name }}</h3>
    {{ drink.description | safe }} £{{ drink.price }}

    {% endif %}
    {% endfor %}

</div>
{%endblock%}