{% extends 'base.html' %}

{% load static %}

{% block content %}

<div>
    <hr><h2>Bajoran</h2><hr>
    {% for food in food_list %}
    {% if food.type_of_food == 0 and food.available == 1 %}
    <br><h3>{{ food.food_name }}</h3>
    {{ food.description | safe }} £{{ food.price }}
    <br>

    {% endif %}
    {% endfor %}

</div>

<div>
    <hr><h2>Klingon</h2><hr>
    {% for food in food_list %}
    {% if food.type_of_food == 1 and food.available == 1 %}
    <br><h3>{{ food.food_name }}</h3>
    {{ food.description | safe }} £{{ food.price }}
    <br>

    {% endif %}
    {% endfor %}

</div>

<div>
    <hr><h2>Talaxian</h2><hr>
    {% for food in food_list %}
    {% if food.type_of_food == 2 and food.available == 1 %}
    <br><h3>{{ food.food_name }}</h3>
    {{ food.description | safe }} £{{ food.price }}
    <br>
    
    {% endif %}
    {% endfor %}
    
</div>

{%endblock%}
