<div>
    <hr><h2>Starters</h2><hr>
    {% for food in food_list %}
    {% if food.food_type == 0 and food.available == 1 %}
    <br><h3>{{ food.food_name }}</h3>
    {{ food.description | safe }} £{{ food.price }}
    <br>

    {% endif %}
    {% endfor %}

</div>

<div>
    <hr><h2>Mains</h2><hr>
    {% for food in food_list %}
    {% if food.food_type == 1 and food.available == 1 %}
    <br><h3>{{ food.food_name }}</h3>
    {{ food.description | safe }} £{{ food.price }}
    <br>

    {% endif %}
    {% endfor %}

</div>

<div>
    <hr><h2>Desserts</h2><hr>
    {% for food in food_list %}
    {% if food.food_type == 2 and food.available == 1 %}
    <br><h3>{{ food.food_name }}</h3>
    {{ food.description | safe }} £{{ food.price }}
    <br>
    
    {% endif %}
    {% endfor %}
    
</div>

