{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2>Contact us</h2>



<form id="emailForm" method="post"> 
    {% csrf_token %} {{ form.non_field_errors }}
    <div class="mb-3">
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="mb-3">
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="mb-2">
        {{ form.message }}
        {{ form.message.errors }}
    </div>
    <div class="form-group text-end">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>


{% endblock %}